#root {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #2acaff;
}

input,
button {
  border-radius: 4px;
}

button {
  justify-content: center;
  align-items: center;
  padding: 7.5px 14px !important;
}

@media screen and (max-width: 980px) {
  .clipboardButton {
    display: none !important;
  }
}

.header {
  width: 100%;
  /*  */
  height: 5vh;
  /*  */
  background-color: white;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-content: center;
}

.header > h1 {
  width: auto;
  display: inline-block;
  font-weight: 600;
  font-size: larger;
  align-self: center;
}

.navbar {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.appStackContainer {
  width: 100%;
  flex-direction: column-reverse !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;
  margin: auto;
}

.memeGenContainer {
  border-radius: 6px;
  background-color: white;
  width: 90vw;
  margin: 1vh auto;
  padding: 1.5vh;
}

.memeImgTitleContainer {
  display: grid;
  grid-template-rows: 35px 475px;
}

.memeImgContainer {
  height: 100%;
  max-width: 800px;
  min-width: 260px;
  margin: auto;
  display: flex;
}

.memeImage {
  width: 100%;
  max-height: 95%;
  margin: auto;
}

.memeInputForm {
  justify-content: center;
  gap: 1vh;
}

.memeForm-title {
  font-size: large;
  font-weight: 600;
}

.memeInputForm > label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: medium;
}

label > input {
  background-color: #f1f1f1;
  padding: 2px;
}

label {
  text-transform: capitalize;
}

@media screen and (max-width: 1007px) {
  .appStackContainer {
    flex-direction: column !important;
    padding-bottom: 0px !important;
    height: 100%;
  }
  .navbar {
    position: -webkit-sticky;
    position: sticky !important;
    bottom: 0;
    flex-direction: column-reverse;
  }
}

.memeFormContainer {
  gap: 1vh;
  display: flex;
  flex-direction: column;
}

.memeForm-memeTitle {
  text-align: center;
  font-weight: 500;
  font-size: x-large;
}

.creationButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 1vh;
}

.creationButtonsContainer > button {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: black;
}

.creationButtonsContainer > button:hover {
  color: black;
  background: yellow;
}

@media screen and (max-width: 457px) {
  .creationButtonsContainer {
    flex-direction: column;
  }
}
